<!DOCTYPE html>
<html lang="zh-cmn-Hans"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <title>Wenku8轻小说下载器</title>
  <link rel="stylesheet" href="https://cdn-1254016670.cos-website.ap-chengdu.myqcloud.com/blog/css/mdui.css">
<script src="https://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
<script src="https://cdn-1254016670.cos-website.ap-chengdu.myqcloud.com/blog/cos/cos-js-sdk-v5.min.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-88818678-1');
    
</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?a9259cf9514395ebcad803f195ef0997";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-loaded mdui-theme-primary-indigo mdui-theme-accent-pink" style="">
<header class="mdui-appbar mdui-appbar-fixed">
  <div class="mdui-toolbar mdui-color-theme">
    <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#main-drawer', swipe: true}"><i class="mdui-icon material-icons">menu</i></span>
    <a href="https://lanceliang2018.github.io/" target="_blank" class="mdui-typo-headline mdui-hidden-xs">我的博客</a>
    <div class="mdui-toolbar-spacer"></div>
    <a href="https://github.com/LanceLiang2018/Wenku8ToEpub-Online" target="_blank" class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-tooltip="{content: '查看源代码'}">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve" class="mdui-icon" style="width: 24px;height:24px;">
        <path fill-rule="evenodd" clip-rule="evenodd" fill="#ffffff" d="M18,1.4C9,1.4,1.7,8.7,1.7,17.7c0,7.2,4.7,13.3,11.1,15.5
	c0.8,0.1,1.1-0.4,1.1-0.8c0-0.4,0-1.4,0-2.8c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1
	c1.6,0.1,2.5,1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,0.6-3.2,1.7-4.4
	c-0.2-0.4-0.7-2.1,0.2-4.3c0,0,1.4-0.4,4.5,1.7c1.3-0.4,2.7-0.5,4.1-0.5c1.4,0,2.8,0.2,4.1,0.5c3.1-2.1,4.5-1.7,4.5-1.7
	c0.9,2.2,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4c0,6.3-3.8,7.6-7.4,8c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,3.9,0,4.5
	c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,11.1-8.3,11.1-15.5C34.3,8.7,27,1.4,18,1.4z"></path>
      </svg>
    </a>
  </div>
    <div class="mdui-progress" id="wenku8-progress" style="display: none;">
      <div class="mdui-progress-indeterminate"></div>
    </div>

</header>

<div class="mdui-drawer" id="main-drawer">
  <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px;">
    <div class="mdui-collapse-item ">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color">near_me</i>
        <div class="mdui-list-item-content">WENKU8TOEPUB-ONLINE</div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
      </div>
      <div class="mdui-collapse-item-body mdui-list">
        <a href="https://github.com/LanceLiang2018/Wenku8ToEpub-Online" class="mdui-list-item mdui-ripple">关于</a>
      </div>
    </div>
  </div>
</div>


<!--    这里是承载的内容-->
<div class="mdui-container doc-container doc-no-cover">
  <div id="contain-dist">
    <div class="mdui-typo">
        <marquee id="wenku8-board">文字</marquee>
      <h1 class="mdui-text-color-theme">Wenku8轻小说下载器</h1>
        <h3 class="mdui-text-color-theme">主要功能</h3>
        <div>
            <h4 class="mdui-text-color-theme-accent">搜书</h4>
                <div class="mdui-card" id="wenku8-book-card-tmp" style="display: none; padding:20px 20px">
                  <!-- 卡片的标题和副标题 -->
                  <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title mdui-text-color-theme wenku8-search-title">书名</div>
                      <div class="mdui-card-primary-subtitle">ID:<span class="wenku8-search-id">0</span> 状态：<span class="wenku8-search-status">...</span></div>
                  </div>
                  <!-- 书籍封面-->                  
                  <div>
<!--                      <img id="wenku8-bookinfo-cover" src="" rel=noreferrer>-->
                      <div class="wenku8-search-cover">
                      </div>
                  </div>
                  <!-- 卡片的内容 -->
                  <div class="mdui-card-content mdui-typo"><p class="wenku8-search-brief">简介</p></div>
                  <button class="mdui-btn mdui-ripple mdui-float-left mdui-color-theme-accent wenku8-btn-1" onclick="">下载</button>
                  <button class="mdui-btn mdui-ripple mdui-float-right mdui-color-theme-accent wenku8-btn-2" onclick="">离线缓存</button>
                  <button class="mdui-btn mdui-ripple mdui-float-right mdui-color-theme-accent wenku8-btn-3" onclick="">离线缓存(带图片)</button>
              </div>
            <div id="wenku8-search">
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label">
              <label class="mdui-textfield-label">搜索关键词</label>
              <input class="mdui-textfield-input" id="wenku8-fun5-text"/>
            </div>
            <button class="mdui-btn mdui-ripple mdui-float-left mdui-color-theme" onclick="wenku8Fun5()">GO</button>
            <br><br>
            <p>输入：搜索用关键词。</p>
        </div>
        <div>
            <h4 class="mdui-text-color-theme-accent">检索书籍信息</h4>
            <div id="wenku8-bookinfo">
              <div class="mdui-card" id="wenku8-book-card" style="display: none; padding:20px 20px">
                  <!-- 卡片的标题和副标题 -->
                  <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title mdui-text-color-theme" id="wenku8-bookinfo-name">书名</div>
                      <div class="mdui-card-primary-subtitle">ID:<span id="wenku8-bookinfo-id">0</span> 作者：<span id="wenku8-bookinfo-author">(鸽子)</span> 缓存更新时间：<span id="wenku8-bookinfo-time">X</span> 版权：<span id="wenku8-bookinfo-copyright">有版权</span></div>
                  </div>
                  <!-- 书籍封面-->                  
                  <div>
<!--                      <img id="wenku8-bookinfo-cover" src="" rel=noreferrer>-->
                      <div id="wenku8-bookinfo-cover">
                      </div>
                  </div>
                  <!-- 卡片的内容 -->
                  <div class="mdui-card-content mdui-typo"><p id="wenku8-bookinfo-brief">简介</p></div>
                  <button class="mdui-btn mdui-ripple mdui-float-left mdui-color-theme-accent" onclick="wenku8Fun1_1()">下载</button>
                  <button class="mdui-btn mdui-ripple mdui-float-right mdui-color-theme-accent" onclick="wenku8Fun1_2()">离线缓存</button>
                  <button class="mdui-btn mdui-ripple mdui-float-right mdui-color-theme-accent" onclick="wenku8Fun1_3()">离线缓存(带图片)</button>
              </div>
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label">
              <label class="mdui-textfield-label">ID</label>
              <input class="mdui-textfield-input" id="wenku8-fun1-text"/>
            </div>
            <button class="mdui-btn mdui-ripple mdui-float-left mdui-color-theme" onclick="wenku8Fun1()">GO</button>
            <br><br>
            <p>输入：ID号，显示书籍信息。ID号是打开wenku8网站后地址栏最后一个数字。比如<a target="_blank" href="https://www.wenku8.net/book/2255.htm">魔女之旅</a>的ID为<code>2255</code>。这里显示书籍信息后也可以直接下载。</p>
        </div>
        <div>
            <h4 class="mdui-text-color-theme-accent">直接下载小说</h4>
            <div class="mdui-textfield mdui-textfield-floating-label">
              <label class="mdui-textfield-label">ID或者名字</label>
              <input class="mdui-textfield-input" id="wenku8-fun2-text"/>
            </div>
            <button class="mdui-btn mdui-ripple mdui-float-left mdui-color-theme" onclick="wenku8Fun2()">GO</button>
            <br><br>
            <p>输入：ID号或者小说名，将会从网盘直接下载小说的EPUB文件。腾讯云速度保证。</p>
        </div>
        <div class="mdui-card" style="padding:20px 20px">
          <div class="mdui-card-content mdui-typo" id="wenku8-fun3-logs-outline">
<!--              <div id="wenku8-fun3-logs">进度显示</div>-->
            <div>
              <textarea class="" id="wenku8-fun3-logs" placeholder="进度显示" readonly style="width: 512px; height: 256px"></textarea>
            </div>
          </div>
        </div>
        <a id='wenku8-fun3-url' href="" style="display: none;">下载链接</a>
        <div>
            <h4 class="mdui-text-color-theme-accent">开始缓存到网盘</h4>
            <div class="mdui-textfield mdui-textfield-floating-label">
              <label class="mdui-textfield-label">ID</label>
              <input class="mdui-textfield-input" id="wenku8-fun3-text"/>
            </div>
            <button class="mdui-btn mdui-ripple mdui-float-left mdui-color-theme" onclick="wenku8Fun3()">GO</button>
            <br><br>
            <p>输入：ID号，将会从<a href="https://www.wenku8.net/index.php" target="_blank">wenku8.net</a>获取更新内容。更新完毕就会开始下载。</p>
            <p>注意：有上传/压缩失败的可能。如果进度显示部分没有上传文件的记录，则很可能已经失败了，请多试几次，或者使用本地软件。如果只是上传失败，则会返回临时链接，此时下载较慢，推荐使用迅雷下载或者搭个梯子。</p>
        </div>
        <div>
            <h4 class="mdui-text-color-theme-accent">开始缓存到网盘（包含图片）</h4>
            <div class="mdui-textfield mdui-textfield-floating-label">
              <label class="mdui-textfield-label">ID</label>
              <input class="mdui-textfield-input" id="wenku8-fun4-text"/>
            </div>
            <button class="mdui-btn mdui-ripple mdui-float-left mdui-color-theme" onclick="wenku8Fun4()">GO</button>
            <br><br>
            <p>输入：ID号，将会从<a href="https://www.wenku8.net/index.php" target="_blank">wenku8.net</a>获取更新内容。更新完毕就会开始下载。</p>
            <p>注意：有上传/压缩失败的可能。如果进度显示部分没有上传文件的记录，则很可能已经失败了，请多试几次，或者使用本地软件。由于文件太大，上传失败率很高，大约4卷以上的就只会返回临时链接，此时下载较慢，推荐使用迅雷下载或者搭个梯子。</p>
        </div>
        <h3 class="mdui-text-color-theme">相关软件下载</h3>
        <a href="https://static-1254016670.cos.ap-chengdu.myqcloud.com/wenku8toepub.exe">Wenku8ToEpub.exe</a>：本地命令行软件，能够下载更大的书籍，大概速度更快（看你的网速了）。<a href="https://github.com/LanceLiang2018/Wenku8ToEpub">→使用帮助</a><br>
        <a href="https://static-1254016670.cos.ap-chengdu.myqcloud.com/Wenku8%E4%B8%8B%E8%BD%BD_1.1.apk">Wenku8下载.apk</a>：把这个网页转换成手机应用程序。有ID号提取功能。<br>
        <h4 class="mdui-text-color-theme">版权声明</h4>
        <p>本网页工具仅为了方便读者阅读而设立，如果侵犯到您的权利，请联系<a target="_blank" href="https://github.com/LanceLiang2018">我的Github</a>或者我的邮箱LanceLiang2018@163.com，我将立即删除相关内容或者整个网站。</p>
        <h4 class="mdui-text-color-theme">反馈</h4>
        <div class="mdui-textfield mdui-textfield-floating-label">
              <label class="mdui-textfield-label">名字</label>
              <input class="mdui-textfield-input" id="wenku8-feedback-user"/>
            </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
          <label class="mdui-textfield-label">反馈意见/吐槽</label>
          <textarea class="mdui-textfield-input" id="wenku8-feedback-message"></textarea>
        </div>
        <button class="mdui-btn mdui-ripple mdui-float-left mdui-color-theme" onclick="wenku8Feedback()">吐</button>
    </div>
      <br>
      <div>
        <form action="/search" method="get">
        <input type="hidden" name="method" value="name">
        <input class="button" type="submit" value="按名字搜书"><input name="search_key" type="text"><br>
    </form>
    <form action="/search" method="get">
        <input type="hidden" name="method" value="id">
        <input class="button" type="submit" value="按ID找书"><input name="search_key" type="text"><br>
    </form>
    <form action="/search" method="get">
        <input type="hidden" name="method" value="cache">
        <input class="button" type="submit" value="按ID缓存"><input name="search_key" type="text"><br>
    </form>
    <form action="/search" method="get">
        <input type="hidden" name="method" value="cache_img">
        <input class="button" type="submit" value="按ID缓存(包含图片)"><input name="search_key" type="text"><br>
    </form>
      这些是旧版功能，还能用，但是并不好用，有超时限制，不推荐。
  </div>
</div>
</div>
    <br>

<script src="https://cdn-1254016670.cos-website.ap-chengdu.myqcloud.com/blog/js/mdui.js"></script>
<script>var $$ = mdui.JQ;</script>
<script src="/static/wenku8.js"></script>


<script type="application/javascript">
    showBoard();
</script>
</body>
</html>