<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>Wenku8轻小说下载器</title>
    <link rel="stylesheet" href="https://cdn-1254016670.cos-website.ap-chengdu.myqcloud.com/blog/css/mdui.css">
    <script src="https://cdn-1254016670.cos-website.ap-chengdu.myqcloud.com/using/jquery.min.js"></script>
    <script src="https://cdn-1254016670.cos-website.ap-chengdu.myqcloud.com/using/showdown.min.js"></script>
    <script src="https://cdn-1254016670.cos-website.ap-chengdu.myqcloud.com/using/cos-js-sdk-v5.min.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-88818678-1');
    </script>

    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?a9259cf9514395ebcad803f195ef0997";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <style type="text/css">
    .round_icon{
      width: 34px;
      height: 34px;
      display: flex;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
    </style>
</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-loaded mdui-theme-primary-amber mdui-theme-accent-pink mdui-theme-layout-dark"
      style="">
<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white"
              mdui-drawer="{target: '#main-drawer', swipe: true}"><i class="mdui-icon material-icons">menu</i></span>
        <a href="https://lanceliang2018.github.io/" target="_blank" class="mdui-typo-headline mdui-hidden-xs">我的博客</a>
        <div class="mdui-toolbar-spacer"></div>
        <button class="mdui-btn mdui-btn-icon" mdui-dialog="{target: '#dialog-docs-theme'}"><i class="mdui-icon material-icons">color_lens</i></button>
        <a href="https://github.com/LanceLiang2018/Wenku8ToEpub-Online" target="_blank"
           class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-tooltip="{content: '查看源代码'}">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink"
                 x="0px" y="0px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve"
                 class="mdui-icon" style="width: 24px;height:24px;">
        <path fill-rule="evenodd" clip-rule="evenodd" fill="#ffffff" d="M18,1.4C9,1.4,1.7,8.7,1.7,17.7c0,7.2,4.7,13.3,11.1,15.5
	c0.8,0.1,1.1-0.4,1.1-0.8c0-0.4,0-1.4,0-2.8c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1
	c1.6,0.1,2.5,1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,0.6-3.2,1.7-4.4
	c-0.2-0.4-0.7-2.1,0.2-4.3c0,0,1.4-0.4,4.5,1.7c1.3-0.4,2.7-0.5,4.1-0.5c1.4,0,2.8,0.2,4.1,0.5c3.1-2.1,4.5-1.7,4.5-1.7
	c0.9,2.2,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4c0,6.3-3.8,7.6-7.4,8c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,3.9,0,4.5
	c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,11.1-8.3,11.1-15.5C34.3,8.7,27,1.4,18,1.4z"></path>
      </svg>
        </a>
    </div>
    <div class="mdui-progress" id="wenku8-progress" style="display: none;">
        <div class="mdui-progress-indeterminate"></div>
    </div>

</header>

<div class="mdui-drawer" id="main-drawer">
    <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px;">
        <div class="mdui-collapse-item ">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
              <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color">near_me</i>
              <div class="mdui-list-item-content">WENKU8TOEPUB-ONLINE</div>
              <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
              <a href="https://github.com/LanceLiang2018/Wenku8ToEpub-Online"
               class="mdui-list-item mdui-ripple">关于</a>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
              <a href="https://lanceliang2018.github.io/" class="mdui-list-item mdui-ripple">我的博客</a>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
              <a href="javascript:;" onclick="new mdui.Dialog($('#dialog-donation')).open();" class="mdui-list-item mdui-ripple">捐助</a>
            </div>
        </div>
    </div>
</div>


<!--    这里是承载的内容-->
<div class="mdui-container doc-container doc-no-cover">
    <div id="contain-dist">
        <div class="mdui-typo">
            <marquee id="wenku8-board">文字</marquee>
            <h1 class="mdui-text-color-theme">Wenku8轻小说下载器</h1>
            <h3 class="mdui-text-color-theme">使用说明</h3>
            <div><p id="wenku8-instructions">正在加载说明...</p></div>
            <h3 class="mdui-text-color-theme">主要功能</h3>
            <div>
                <h4 class="mdui-text-color-theme-accent">搜书</h4>
                <div class="mdui-card" id="wenku8-book-card-tmp" style="display: none; padding:20px 20px">
                    <!-- 卡片的标题和副标题 -->
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title mdui-text-color-theme wenku8-search-title">书名</div>
                        <div class="mdui-card-primary-subtitle">ID:<span class="wenku8-search-id">0</span> 状态：<span
                                class="wenku8-search-status">...</span></div>
                    </div>
                    <!-- 书籍封面-->
                    <div>
                        <!--                      <img id="wenku8-bookinfo-cover" src="" rel=noreferrer>-->
                        <div class="wenku8-search-cover">
                        </div>
                    </div>
                    <!-- 卡片的内容 -->
                    <div class="mdui-card-content mdui-typo"><p class="wenku8-search-brief">简介</p></div>
                    <button class="mdui-btn mdui-ripple mdui-float-right mdui-color-theme-accent wenku8-btn-1"
                            onclick="">下载
                    </button>
                    {% if local == True %}
                    <button class="mdui-btn mdui-ripple mdui-float-left mdui-color-theme-accent wenku8-btn-2"
                            onclick="">缓存
                    </button>
                    <button class="mdui-btn mdui-ripple mdui-float-left mdui-color-theme-accent wenku8-btn-3"
                            onclick="">缓存(带图片)
                    </button>
                    {% endif %}
                </div>
                <div id="wenku8-search">
                </div>
                <div class="mdui-textfield">
                    <input class="mdui-textfield-input" type="text" placeholder="搜索关键词" id="wenku8-fun5-text"/>
                </div>
                <button class="mdui-btn mdui-ripple mdui-float-left mdui-color-theme" onclick="wenku8Fun5()">GO</button>
                <br><br>
                <p>输入：搜索用关键词（作者或者书名），用关键词搜索更加精确。</p>
            </div>
            <div>
                <h4 class="mdui-text-color-theme-accent">检索书籍信息</h4>
                <div id="wenku8-bookinfo">
                    <div class="mdui-card" id="wenku8-book-card" style="display: none; padding:20px 20px">
                        <!-- 卡片的标题和副标题 -->
                        <div class="mdui-card-primary">
                            <div class="mdui-card-primary-title mdui-text-color-theme" id="wenku8-bookinfo-name">书名
                            </div>
                            <div class="mdui-card-primary-subtitle">ID:<span id="wenku8-bookinfo-id">0</span> 作者：<span
                                    id="wenku8-bookinfo-author">(鸽子)</span> 缓存更新时间：<span
                                    id="wenku8-bookinfo-time">X</span> 版权：<span
                                    id="wenku8-bookinfo-copyright">有版权</span></div>
                        </div>
                        <!-- 书籍封面-->
                        <div>
                            <div id="wenku8-bookinfo-cover">
                            </div>
                        </div>
                        <!-- 卡片的内容 -->
                        <div class="mdui-card-content mdui-typo"><p id="wenku8-bookinfo-brief">简介</p></div>
                        <button class="mdui-btn mdui-ripple mdui-float-right mdui-color-theme-accent"
                                onclick="wenku8Fun1_4()">下载
                        </button>
                        {% if local == True %}
                        <button class="mdui-btn mdui-ripple mdui-float-left mdui-color-theme-accent"
                                onclick="wenku8Fun1_2()">缓存
                        </button>
                        <button class="mdui-btn mdui-ripple mdui-float-left mdui-color-theme-accent"
                                onclick="wenku8Fun1_3()">缓存(带图片)
                        </button>
                        {% endif %}
                    </div>
                </div>
                <div class="mdui-textfield">
                    <input class="mdui-textfield-input" type="text" placeholder="ID" id="wenku8-fun1-text"/>
                </div>
                <button class="mdui-btn mdui-ripple mdui-float-left mdui-color-theme" onclick="wenku8Fun1()">GO</button>
                <br><br>
                <p>输入：ID号，显示书籍信息。ID号是打开wenku8网站后地址栏最后一个数字。比如<a target="_blank"
                                                               href="https://www.wenku8.net/book/2255.htm">魔女之旅</a>的ID为<code>2255</code>。这里显示书籍信息后也可以直接下载。
                </p>
            </div>
            <div>
                <h4 class="mdui-text-color-theme-accent">直接下载小说</h4>
                <div class="mdui-textfield">
                    <input class="mdui-textfield-input" type="text" placeholder="ID或者名字" id="wenku8-fun2-text"/>
                </div>
                <button class="mdui-btn mdui-ripple mdui-float-left mdui-color-theme" onclick="wenku8Fun2()">GO</button>
                <br><br>
                <p>输入：ID号或者小说名，将会从缓存直接下载小说的EPUB文件。腾讯云速度保证。标题含有特殊字符将下载错误。</p>
            </div>
            <div class="mdui-card" style="padding:20px 20px" id="wenku8-fun3-logs-outline">
                <div class="mdui-card-content mdui-typo">
                    <div>
                        <textarea class="" id="wenku8-fun3-logs" placeholder="进度显示" readonly
                                  style="width: 512px; height: 256px"></textarea>
                    </div>
                </div>
            </div>
            <a id='wenku8-fun3-url' href="" style="display: none;">下载链接</a>
            {% if local == True %}
            <div>
                <h4 class="mdui-text-color-theme-accent">开始下载</h4>
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">ID</label>
                    <input class="mdui-textfield-input" id="wenku8-fun3-text"/>
                </div>
                <button class="mdui-btn mdui-ripple mdui-float-left mdui-color-theme" onclick="wenku8Fun3()">GO</button>
                <br><br>
                <p>输入：ID号，将会从<a href="https://www.wenku8.net/index.php" target="_blank">wenku8.net</a>获取更新内容，更新完毕就会返回下载链接，开始下载。
                </p>
            </div>
            {% endif %}
            {% if local == True %}
            <div>
                <h4 class="mdui-text-color-theme-accent">开始下载（包含图片）</h4>
                <div class="mdui-textfield">
                    <input class="mdui-textfield-input" type="text" placeholder="ID" id="wenku8-fun4-text"/>
                </div>
                <button class="mdui-btn mdui-ripple mdui-float-left mdui-color-theme" onclick="wenku8Fun4()">GO</button>
                <br><br>
                <p>输入：ID号。本地版专属功能。</p>
            </div>
            {% endif %}

            <h3 class="mdui-text-color-theme">相关软件下载&#43;相关链接</h3>
            <p>下面是时效30分钟的临时链接。</p>
            <a href="{{urls[0]}}" class="mdui-color-theme">wk8local.exe</a>：大小57MB。是本网页的本地版，没有服务器带宽限制，能够下载电子书图片，推荐下载。<br>
            <a href="{{urls[1]}}">Wenku8ToEpub.exe</a>：大小8MB。本地命令行软件，能够下载更大的书籍，但是使用不是很人性化。
            <a href="https://github.com/LanceLiang2018/Wenku8ToEpub">→使用帮助</a>[已经更换为百度云链接，提取码6gxl]<br>
            <a href="{{urls[2]}}">Wenku8下载_1.1.apk</a>：把这个网页转换成手机应用程序。左右滑动方便找书。<br>
            <a href="{{urls[3]}}">网易云音乐下载器.apk</a>：能够按单曲/歌单下载网易云vip歌曲，但是付费歌曲暂时下载不能。<br>
            <a href="{{urls[4]}}">方寸之间.apk</a>：聊天软件(笑)。有音乐下载、聊天、网盘储存等等功能。<br>
            <p>下面是一些相关链接。</p>
            <a href="https://light-opds.herokuapp.com/" target="_blank">本站OPDS书源</a>：使用支持OPDS的阅读器可以添加←链接来下载书籍。<br>
            <a href="http://blog.lanceliang2001.top/chat/" target="_blank">henrize在线聊天室(自制前端)</a>：如名。<br>
            <a href="http://blog.lanceliang2001.top/chat2/" target="_blank">hack.chat在线聊天室(自制前端)</a>：如名。<br>
            <a href="http://chat.henrize.kim:3000/" target="_blank">henrize在线聊天室(官方)</a>：如名。<br>

            <h4 class="mdui-text-color-theme">版权声明</h4>
            <p>本网页工具仅为了方便读者阅读而设立，如果侵犯到您的权利，请联系<a target="_blank" href="https://github.com/LanceLiang2018">我的Github</a>或者我的邮箱LanceLiang2018@163.com，我将立即删除/屏蔽相关内容或者删除整个网站。
            </p>
            <h4 class="mdui-text-color-theme">反馈&#43;闲聊</h4>
            <p>本网站2020/04/01~2020/06/09不会维护。正确填写您的邮箱能够让您及时接受到我的回信，您的个人信息不会被显示出来。如果需要头像请到gravatar注册。</p>
            <div id="wenku8-chat" style="overflow-y:scroll; height: 200px; font-size: 15; font-weight: 700;">
                <div style="display: none;" id="wenku8-chat-box-outline">
                    <div class="wenku8-chat-box" style="display: flex; justify-content: flex-start; flex-wrap: nowrap;">
                        <img src="" class="round_icon wenku8-chat-head" style="min-width: 34px;">
                        <span class="wenku8-chat-user">Lance</span>：<span class="wenku8-chat-message">message</span>
                    </div>
                </div>
                <div class="mdui-spinner wenku8-chat-spinner"></div>
            </div>
            <div class="mdui-textfield">
                <input class="mdui-textfield-input" type="text" placeholder="名字" id="wenku8-feedback-user"/>
            </div>
            <div class="mdui-textfield">
                <input class="mdui-textfield-input" type="text" placeholder="邮箱" id="wenku8-feedback-email"/>
            </div>
            <div class="mdui-textfield wenku8-feedback-admin" style="display: none;">
                <input class="mdui-textfield-input" type="text" placeholder="管理员密码" id="wenku8-feedback-password"/>
            </div>
            <div class="mdui-textfield">
                <input class="mdui-textfield-input" type="text" placeholder="反馈/意见/吐槽/聊天" id="wenku8-feedback-message"/>
            </div>
            <div style="height: 36px;">
                <button class="mdui-btn mdui-ripple mdui-color-theme mdui-float-left" onclick="wenku8Feedback()">吐</button>
                <button class="mdui-btn mdui-ripple mdui-color-theme mdui-float-left" onclick="wenku8ShowAdmin()">管理员登录</button>
            </div>
            
            <div id="wenku8-chat2" style="overflow-y:scroll; height: 200px; font-size: 15; font-weight: 700;">
                <div style="display: none;" id="wenku8-chat2-xb-box-outline">
                    <div class="wenku8-chat2-xb-box" style="display: flex; justify-content: flex-start; flex-wrap: nowrap;">
                        <img src="https://gss3.bdstatic.com/84oSdTum2Q5BphGlnYG/timg?wapp&quality=80&size=b150_150&subsize=20480&cut_x=0&cut_w=0&cut_y=0&cut_h=0&sec=1369815402&srctrace&di=91d370dfa6a8ea0ef90415e7b676b771&wh_rate=null&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fpic%2Fitem%2F5366d0160924ab185c3cc54e36fae6cd7b890ba4.jpg" class="round_icon wenku8-chat2-xb-head" style="min-width: 34px;">
                        <span class="wenku8-chat2-xb-user">小冰</span>：<span class="wenku8-chat2-xb-message">message</span>
                    </div>
                </div>
                <div style="display: none;" id="wenku8-chat2-me-box-outline">
                    <div class="wenku8-chat2-me-box" style="display: flex; justify-content: flex-start; flex-wrap: nowrap;">
<!--                        <img src="" class="round_icon wenku8-chat2-me-head" style="min-width: 34px;">-->
                        <span class="wenku8-chat2-me-user">我</span>：<span class="wenku8-chat2-me-message">message</span>
                    </div>
                </div>
            </div>
            <div class="mdui-textfield">
                <input class="mdui-textfield-input" type="text" placeholder="和小冰聊天！" id="wenku8-chat-me-message"/>
            </div>
            <div style="height: 36px;">
                <button class="mdui-btn mdui-ripple mdui-color-theme mdui-float-left" onclick="wenku8Chat()">SAY</button>
            </div>
        </div>
        <br>
        <div>
            <button class="mdui-btn mdui-ripple mdui-color-theme" onclick="new mdui.Dialog($('#dialog-old')).open();">
                旧版功能
            </button>
        </div>
        <br>
        <div class="mdui-dialog" id="dialog-old">
            <div class="mdui-dialog-title">旧版功能</div>
            <div class="mdui-dialog-content">
                这些是旧版功能，还能用（大概），但是并不好用，有超时限制，不推荐。
                <div>
                    <form action="/search" method="get">
                        <input type="hidden" name="method" value="name">
                        <input class="button" type="submit" value="按名字搜书"><input name="search_key" type="text"><br>
                    </form>
                    {% if local == True %}
                    <form action="/search" method="get">
                        <input type="hidden" name="method" value="id">
                        <input class="button" type="submit" value="按ID找书"><input name="search_key" type="text"><br>
                    </form>
                    {% endif %}
                    <form action="/search" method="get">
                        <input type="hidden" name="method" value="cache">
                        <input class="button" type="submit" value="按ID缓存"><input name="search_key" type="text"><br>
                    </form>
                    {% if local == True %}
                    <form action="/search" method="get">
                        <input type="hidden" name="method" value="cache_img">
                        <input class="button" type="submit" value="按ID缓存(包含图片)"><input name="search_key"
                                                                                       type="text"><br>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="mdui-dialog" id="dialog-donation">
          <div class="mdui-dialog-title">捐赠窗口</div>
          <div class="mdui-dialog-content">
            流量吃紧，求大侠施恩~(微信扫描二维码)
            <div>
              <img src="https://static-1254016670.cos.ap-chengdu.myqcloud.com/qrcode1.png" style="width: 200px; height: 200px">
            </div>
          </div>
        </div>
    </div>
</div>
  
<div class="mdui-dialog mdui-dialog-open" id="dialog-docs-theme">
  <div class="mdui-dialog-title">设置主题颜色</div>
  <div class="mdui-dialog-content" style="height: 186px;">

    <p class="mdui-typo-title">主题色</p>
    <div class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-3">
      <div class="mdui-col">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-layout" value="" checked="">
          <i class="mdui-radio-icon"></i>
          Light
        </label>
      </div>
      <div class="mdui-col">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-layout" value="dark">
          <i class="mdui-radio-icon"></i>
          Dark
        </label>
      </div>
    </div>

    <p class="mdui-typo-title mdui-text-color-theme">主色</p>
    <form class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-3">
      <div class="mdui-col mdui-text-color-amber">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="amber">
          <i class="mdui-radio-icon"></i>
          Amber
        </label>
      </div>
      <div class="mdui-col mdui-text-color-blue">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="blue">
          <i class="mdui-radio-icon"></i>
          Blue
        </label>
      </div>
      <div class="mdui-col mdui-text-color-blue-grey">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="blue-grey">
          <i class="mdui-radio-icon"></i>
          Blue Grey
        </label>
      </div>
      <div class="mdui-col mdui-text-color-brown">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="brown">
          <i class="mdui-radio-icon"></i>
          Brown
        </label>
      </div>
      <div class="mdui-col mdui-text-color-cyan">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="cyan">
          <i class="mdui-radio-icon"></i>
          Cyan
        </label>
      </div>
      <div class="mdui-col mdui-text-color-deep-orange">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="deep-orange">
          <i class="mdui-radio-icon"></i>
          Deep Orange
        </label>
      </div>
      <div class="mdui-col mdui-text-color-deep-purple">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="deep-purple">
          <i class="mdui-radio-icon"></i>
          Deep Purple
        </label>
      </div>
      <div class="mdui-col mdui-text-color-green">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="green">
          <i class="mdui-radio-icon"></i>
          Green
        </label>
      </div>
      <div class="mdui-col mdui-text-color-grey">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="grey">
          <i class="mdui-radio-icon"></i>
          Grey
        </label>
      </div>
      <div class="mdui-col mdui-text-color-indigo">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="indigo" checked="">
          <i class="mdui-radio-icon"></i>
          Indigo
        </label>
      </div>
      <div class="mdui-col mdui-text-color-light-blue">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="light-blue">
          <i class="mdui-radio-icon"></i>
          Light Blue
        </label>
      </div>
      <div class="mdui-col mdui-text-color-light-green">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="light-green">
          <i class="mdui-radio-icon"></i>
          Light Green
        </label>
      </div>
      <div class="mdui-col mdui-text-color-lime">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="lime">
          <i class="mdui-radio-icon"></i>
          Lime
        </label>
      </div>
      <div class="mdui-col mdui-text-color-orange">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="orange">
          <i class="mdui-radio-icon"></i>
          Orange
        </label>
      </div>
      <div class="mdui-col mdui-text-color-pink">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="pink">
          <i class="mdui-radio-icon"></i>
          Pink
        </label>
      </div>
      <div class="mdui-col mdui-text-color-purple">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="purple">
          <i class="mdui-radio-icon"></i>
          Purple
        </label>
      </div>
      <div class="mdui-col mdui-text-color-red">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="red">
          <i class="mdui-radio-icon"></i>
          Red
        </label>
      </div>
      <div class="mdui-col mdui-text-color-teal">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="teal">
          <i class="mdui-radio-icon"></i>
          Teal
        </label>
      </div>
      <div class="mdui-col mdui-text-color-yellow">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-primary" value="yellow">
          <i class="mdui-radio-icon"></i>
          Yellow
        </label>
      </div>
    </form>

    <p class="mdui-typo-title mdui-text-color-theme-accent">强调色</p>
    <form class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-3">
      <div class="mdui-col mdui-text-color-amber">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-accent" value="amber">
          <i class="mdui-radio-icon"></i>
          Amber
        </label>
      </div>
      <div class="mdui-col mdui-text-color-blue">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-accent" value="blue">
          <i class="mdui-radio-icon"></i>
          Blue
        </label>
      </div>
      <div class="mdui-col mdui-text-color-cyan">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-accent" value="cyan">
          <i class="mdui-radio-icon"></i>
          Cyan
        </label>
      </div>
      <div class="mdui-col mdui-text-color-deep-orange">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-accent" value="deep-orange">
          <i class="mdui-radio-icon"></i>
          Deep Orange
        </label>
      </div>
      <div class="mdui-col mdui-text-color-deep-purple">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-accent" value="deep-purple">
          <i class="mdui-radio-icon"></i>
          Deep Purple
        </label>
      </div>
      <div class="mdui-col mdui-text-color-green">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-accent" value="green">
          <i class="mdui-radio-icon"></i>
          Green
        </label>
      </div>
      <div class="mdui-col mdui-text-color-indigo">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-accent" value="indigo">
          <i class="mdui-radio-icon"></i>
          Indigo
        </label>
      </div>
      <div class="mdui-col mdui-text-color-light-blue">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-accent" value="light-blue">
          <i class="mdui-radio-icon"></i>
          Light Blue
        </label>
      </div>
      <div class="mdui-col mdui-text-color-light-green">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-accent" value="light-green">
          <i class="mdui-radio-icon"></i>
          Light Green
        </label>
      </div>
      <div class="mdui-col mdui-text-color-lime">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-accent" value="lime">
          <i class="mdui-radio-icon"></i>
          Lime
        </label>
      </div>
      <div class="mdui-col mdui-text-color-orange">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-accent" value="orange">
          <i class="mdui-radio-icon"></i>
          Orange
        </label>
      </div>
      <div class="mdui-col mdui-text-color-pink">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-accent" value="pink" checked="">
          <i class="mdui-radio-icon"></i>
          Pink
        </label>
      </div>
      <div class="mdui-col mdui-text-color-purple">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-accent" value="purple">
          <i class="mdui-radio-icon"></i>
          Purple
        </label>
      </div>
      <div class="mdui-col mdui-text-color-red">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-accent" value="red">
          <i class="mdui-radio-icon"></i>
          Red
        </label>
      </div>
      <div class="mdui-col mdui-text-color-teal">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-accent" value="teal">
          <i class="mdui-radio-icon"></i>
          Teal
        </label>
      </div>
      <div class="mdui-col mdui-text-color-yellow">
        <label class="mdui-radio mdui-m-b-1">
          <input type="radio" name="doc-theme-accent" value="yellow">
          <i class="mdui-radio-icon"></i>
          Yellow
        </label>
      </div>
    </form>

  </div>
  <div class="mdui-divider"></div>
  <div class="mdui-dialog-actions">
    <button class="mdui-btn mdui-ripple mdui-float-left" mdui-dialog-cancel="">恢复默认主题</button>
    <button class="mdui-btn mdui-ripple" mdui-dialog-confirm="">ok</button>
  </div>
</div>

<footer class="mdui-color-theme mdui-typo" style="height: 96px; text-align: center; font-weight: 700;">
    <div class="footer-copyright mdui-col-xs-4 mdui-valign">
        <div class="mdui-center" style="font-size: 14;">Copyright © 2020 <a href="https://lanceliang2018.github.io/"
                                                                            data-pjax-state="">Lance的博客</a></div>
    </div>
    <div class="footer-icons mdui-col-xs-2 mdui-valign">
        <div class="mdui-center">
            <a href="mailto:LanceLiang2018@163.com" class="mdui-btn mdui-btn-icon mdui-ripple"
               mdui-tooltip="{content: '邮箱'}" target="_blank" data-pjax-state=""><i class="mdui-icon material-icons">email</i></a>
            <a href="tencent://message/?uin=1352040930" class="mdui-btn mdui-btn-icon mdui-ripple"
               mdui-tooltip="{content: 'QQ'}" target="_blank" data-pjax-state=""><i class="mdui-icon material-icons">question_answer</i></a>
          <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-ripple"
               mdui-tooltip="{content: '捐助'}" onclick="new mdui.Dialog($('#dialog-donation')).open();" data-pjax-state="" id='btn-donate'><i class="mdui-icon material-icons">attach_money</i></a>
        </div>
    </div>
    <div class="footer-credit mdui-col-xs-6 mdui-valign">
        <div class="mdui-center">
            <div>Powered by <a href="https://dormousehole.readthedocs.io/en/latest/" target="_blank" data-pjax-state="">Flask</a>,
                deployed by <a href="http://heroku.com/" target="_blank" data-pjax-state="">Heroku</a>, and Theme <a
                        href="https://www.mdui.org/" target="_blank" data-pjax-state="">MDUI</a>
            </div>
            <div><a href="http://www.beian.miit.gov.cn/" target="_blank" data-pjax-state="">京ICP备 备个鬼的案</a>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn-1254016670.cos-website.ap-chengdu.myqcloud.com/blog/js/mdui.min.js"></script>
<script>var $$ = mdui.JQ;</script>
<script src="/static/wenku8.js"></script>
<script src="/static/theme.js"></script>
<script type="application/javascript">
    $('#wenku8-fun1-text').bind('keydown', event => {
        if (event.keyCode == '13')
            wenku8Fun1();
    })
    $('#wenku8-fun2-text').bind('keydown', event => {
        if (event.keyCode == '13')
            wenku8Fun2();
    })
    $('#wenku8-fun3-text').bind('keydown', event => {
        if (event.keyCode == '13')
            wenku8Fun3();
    })
    $('#wenku8-fun4-text').bind('keydown', event => {
        if (event.keyCode == '13')
            wenku8Fun4();
    })
    $('#wenku8-fun5-text').bind('keydown', event => {
        if (event.keyCode == '13')
            wenku8Fun5();
    })
    
    showBoard();
    commentLoad();
</script>
</body>
</html>